<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="~/js/papermill.js"></script>
    <link type="text/css" rel="stylesheet" href="~/js/jsgrid/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="~/js/jsgrid/jsgrid-theme.min.css" />
    <script type="text/javascript" src="~/js/jsgrid/jsgrid.min.js"></script>
    <link type="text/css" rel="stylesheet" href="~/css/GridStyleSheet.css" />
</head>
<body>
    <a id="back-button" class="previous round" style="display: none">&#8249;</a>
    <div id="headline_solutions" class="general_fonts headline_class" style="display: none">
        <p>Non-Dominated Solutions</p>
    </div>
    <div id="headline_finder" class="general_fonts headline_class">
        <p>Non-Dominated Solution Finder</p>
    </div>

    <div id="overlay">
        <div id="jsGrid-solutions" class="general_fonts" style="display: none"></div>
    </div>

    <div id="jsGrid" class="general_fonts" style="display: none"></div>

    <div id="controls">
        <input type="hidden" id="run_url" value="http://localhost:63305/api/Eva/runeva/" />
        <input type="hidden" id="fetch_url" value="http://localhost:63305/api/Eva/fetchSolutionDetails/" />
        <input type="hidden" id="fetch_objs" value="http://localhost:63305/api/Eva/getObjectives/" />
        <input type="hidden" id="run_rules" value="http://localhost:63305/api/Eva/runWithRules/" />
        <a class="eva_buttons general_fonts" id="run_button">Run</a>
        <label for="input_file" class="custom-file-upload general_fonts">
            Select File
        </label>
        <input id="input_file" type="file" />
    </div>
    <div id="rule-controls">
        <a class="eva_buttons general_fonts" id="add-rule" style="display: none">Add Rule</a>
        <a class="eva_buttons general_fonts" id="re-run" style="display: none"> Re-Run</a>
    </div>
    <div id="input-rules"></div>
    <div id="spinner" class="loader" style="display: none"></div>
</body>
</html>
